# Proyecto UT5:
## Predicción del tipo de un pokémon a partir de su imagen

### Imports

In [88]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras as kr
from tensorflow.keras.layers import Normalization, IntegerLookup, StringLookup

### Data

Primero preparamos los pokemon con sus tipos

In [89]:
dataframe = pd.read_csv("pokemon.csv")
dataframe

            Name     Type1   Type2
0      bulbasaur     Grass  Poison
1        ivysaur     Grass  Poison
2       venusaur     Grass  Poison
3     charmander      Fire     NaN
4     charmeleon      Fire     NaN
..           ...       ...     ...
804    stakataka      Rock   Steel
805  blacephalon      Fire   Ghost
806      zeraora  Electric     NaN
807       meltan     Steel     NaN
808     melmetal     Steel     NaN

[809 rows x 3 columns]

Guardamos el path de la imagen del pokemon en el dataframe.

In [90]:
dataframe = dataframe.assign(ImgPath="images\images\\" + dataframe.Name + ".png")

dataframe.ImgPath

0        images\images\bulbasaur.png
1          images\images\ivysaur.png
2         images\images\venusaur.png
3       images\images\charmander.png
4       images\images\charmeleon.png
                   ...
804      images\images\stakataka.png
805    images\images\blacephalon.png
806        images\images\zeraora.png
807         images\images\meltan.png
808       images\images\melmetal.png
Name: ImgPath, Length: 809, dtype: object

Y luego cargamos la imagen de cada pokemon

In [91]:
images = []

for i in dataframe.ImgPath:
    # print(i)
    images.append(tf.keras.utils.load_img(i))

C:\Users\BDIA\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\PIL\Image.py:975: UserWarning: Palette images with Transparency expressed in bytes should be converted to RGBA images
  warnings.warn(